<!DOCTYPE html>

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
      <p>Foo Bar:: Ameer Alnasser, Wan Ying Li, Kevin Wang</p>
      <form method="post">
        <label>Title:</label>
        <input type=text name=title>


        <br>
        <label>Password:</label>
        <input type=text name=password>
        <br>

        
        <input type=submit value=Login>

        <p>username: lol</p>
        <p>password: lol</p>
        
        <p>{{error_message}}</p>

      </form>

  </body>

</html>
