<!DOCTYPE html>
<html>

    <head>
        <title>CREATE</title>
    </head>

    <body>

        <form method="post">

            <label>Your Blog Title:</label>
            <input type=text name=blog_title>
            <br>

            <label>Your Blog Content:</label>
            <textarea name=content rows="80" cols="80">Jump-start your creativity.</textarea>
            <br>

            <input type=submit value=submit>
    
          </form>
        
    </body>

    <a href="./Home">Home Page</a>

</html>
