<!--
Bloh Foo:: Ameer Alnasser, Wan Ying Li, Kevin Wang
SoftDev
P00 
2022-11-05
time spent: 20 hrs
-->

<!DOCTYPE html>
<html>

    <head>
        <title>EDIT</title>
    </head>

    <body>

        <h1>Your Blog Title: {{blog_title}}</h1>

        <form method="post">

            <label>Your New Blog Content:</label>
            <br>
            <textarea name=content rows="20" cols="80">{{old_blog_content}}</textarea>
            <br>
            <input type=submit value=submit>
    
          </form>
        
    </body>

    <a href="../../../">Home Page</a>
    <a href="../../../blog/{{author}}/{{blog_title}}">Back to the blog</a>
    <a href="../../../logout">Log out</a>

</html>