<!DOCTYPE html>
<html>

    <head>
        <title>EDIT</title>
    </head>

    <body>
        <h1>Your Blog Title: {{blog_title}}</h1>
        <form method="post">
            <label>Your New Blog Content:</label>
            <br>
            <textarea name=content rows="20" cols="80">Revise Here.</textarea>
            <br>

            <input type=submit value=submit>
    
          </form>
        
    </body>

    <a href="./Home">Home Page(to be implemented)</a>
    <a href="./blog/{{author}}/{{blog_title}}">Back to the blog(broken)</a>

</html>